.body-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid grey;
  vertical-align: center;
}
.itme-event {
  margin-right: 10px;
  flex: 1;
}
.item-delete {
  color: white;
  background-color: red;
  border: none;
  padding: 5px;
}
.noShow {
  display: none;
}